/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, rgb(42, 44, 57) 0%, rgb(51, 54, 74) 100%);
    padding: 0;
    background-image: url("../img/hero-carousel/hero-carousel-4.jpg");
  }
  
  #hero .carousel-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    padding-top: 60px;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 10%;
  }
  
  #hero .carousel-control-next-icon,
  #hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
  }
  
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #ef6603;
  }
  
  #hero .btn-get-started:hover {
    background: #ef6603;
    color: #fff;
    text-decoration: none;
  }
  
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
  
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
  }
  
  @media (max-width: 768px) {
    #hero .carousel-container {
      height: 90vh;
    }
  
    #hero h2 {
      font-size: 28px;
    }
  }
  
  .hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
  }
  
  .wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  @-webkit-keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
  
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
  
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }


/* 

.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 410px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.item:hover{
  cursor: pointer;
}

.item *{
  transition: all 0.35s ease-in-out;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: 310px;
}

.item:hover img {
  opacity: 0;
}

.text{
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100px;
  left: 10%;
  color: white;
  overflow: hidden;
}

.text h3{
  color: black;
}

.item:hover .text{
  top: 20%;
}

.item:hover .button{
  bottom: 20%;
}

.item .button{
  position: absolute;
  bottom: -100px;
  left: 25%;
  width: 50%;
  border: 3px solid #01A2AC;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.button:hover{
  background-color: #01A2AC;
  color: #F5F5F5;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #F5F5F5;
  margin: 5% auto;
  box-sizing: border-box;
  width: 700px;
  max-height: 714px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.scale{
  animation: scale 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scale{
  from{transform: scale(0);}
  to{transform: scale(1);}
}

#img{
  width: 100%;
  height: 450px;
}

#details{
  padding: 25px;
  text-align: left;
  position: relative;
  height: 264px;
  box-sizing: border-box;
  border-top: 1px solid #363638;
}

#details *{
  transition: all .3s;
}

#title{
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#details .button{
  position: absolute;
  width: 30%;
  background-color: #01A2AC;
  color: #F5F5F5;
  text-align: center;
  left: 25px;
  bottom: 35px;
  padding: 15px;
}

#details i{
  position: absolute;
  bottom: 30px;
  right: 25px;
  font-size: 3rem;
  color: #01A2AC;
}

#details .button:hover,
i:hover{
  cursor: pointer;
  opacity: 0.8;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.close:hover,
.close:focus {
  color: #363638;
  text-decoration: none;
  cursor: pointer;
} */

/* article {
  position: absolute;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  color: #333;
} */
@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0; }
  100% {
    opacity: 1;
    top: 0px; } }

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1; }
  100% {
    top: -400px;
    opacity: 0; } }




              

              
  #carousel, #navigation {
      flex: initial;
      display: block;
  }
              
  #carousel {
      overflow: hidden;
      width: 100%;
      height: 800px;
      border-radius: 4px;
      background-color: #fff;
  }
     p{
      padding: 2px;
      color: black;
      text-align: justify;
     }         
  .p-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.4s ease-in-out;
  }
              
  #button_a:checked ~ #carousel .p-wrapper {
      -webkit-transform: translateY(0);
      transform: translateY(0); 
  }
              
  #button_b:checked ~ #carousel .p-wrapper {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%); 
  }
  
  #button_c:checked ~ #carousel .p-wrapper {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%); 
  }
  
  #button_d:checked ~ #carousel .p-wrapper {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%); 
  }
              
  [class^="panel_"] {
      overflow: auto;
      position: relative;
      width: inherit;
      height: inherit;
      padding: 48px;
  }
              
  #navigation {
    margin-left: 40%;
    display: flex;
    align-items: center;
  }
  
  [class^="label_"] {
    display: block;
    cursor: pointer;
    margin: 8px 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    color: #aaa;
    background-color: #fff;
    transition: all 0.3s ease;
    margin: 8px;
  }
              
  [class^="label_"]:hover {
      color: #444;
      background-color: #ffeed9;
  }
              
  #button_a:checked ~ #navigation .label_a,
  #button_b:checked ~ #navigation .label_b,
  #button_c:checked ~ #navigation .label_c,
  #button_d:checked ~ #navigation .label_d {
       cursor: default;
       color: #fff;
       background-color: #222;
  }

  .carousel {
    margin-left: 15%;
    margin-right: 15%;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }
.animate__animated{
  color: whitesmoke;
}